/*

Version 2.0
Flexbox working on all pages

*/

a {
    color: darkslategrey;
}

ul {
    list-style-type: none;
}

body {
    background-color: #444;
}

#root {
    position:relative;
    max-width: 1000px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    
}


header {
    background-color: #444;
    position: relative;
    height:60px;
}

#title { 
    float: left;
    width: 30%;
    background-color: lightgrey;
    
    font-size: 14px;
    
    
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    position: absolute;
    bottom: 0;
    height: 100%;
    margin-top: 100px;
    
}

#title h1 { 
    text-decoration: none;
    color: #666666;
    font-variant: small-caps;    
}


nav {
    position:absolute;
    left: 40%;
    bottom: -3px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:auto;
    flex-wrap: wrap;

}

nav img {
    margin-left:3px;
}



footer {
    background-color: teal;
    color: whitesmoke;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer article {
    width:20%;
    padding: 2%;
    margin-left:auto;
    margin-right:auto;
}



#about img {
    width: 15%;
    
}

#address img{
    max-width: 50%;
}

#last_project_thumbnail {
    width: 90%;
    height:auto;
    position:relative;
}


#portfolio {
    overflow-y: auto;
    background-image: url(images/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black ;
    margin: 10px;
    height: 515px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    
}


#portfolio article {
    display: flex;
    float:left;
    height: 230px; 
    
    width: 20%;
    background-color: white;
    margin: 1%;
}

#portfolio article>div>img {
    width: 100%;
    
}

#portfolio>article div:nth-child(2) {
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 10px;
}




#blog {
    overflow-y: auto;
    background-image: url(images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black ;
    margin: 10px;
    height: 515px;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-flow:wrap;
    padding:10px;
    
}

#blog article {
    width: 45%; 
    height: 190px;
    background-color: white;
    opacity: 0.8;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#blog article>div>img {
    width: 25%;
    float: left;
    margin-right: 10px;
}

#blog article>div {
    padding: 10px;
}

#index {
    position: relative;
    background-image: url(images/bg1.png);
    background-position: center;
    height: 515px;
    margin: 10px;
    padding:10px;
}

#index article{
    position: relative;
    top: 2%;
    left: 2%;
    width: 40%;
    color: white;
    background-color: rgba(0,0,0,0.3);
    height: 90%;
    overflow-y: auto;
    padding: 10px; 
    
}

#contactform {
    position: relative;
    background-image: url(images/bg4.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 515px;
    margin: 10px;
    padding:10px;
}

#contactform>#title2 {
    height: auto;
    margin-top: 45px;
    font-size: 250%;
    padding-bottom:120px;
    float: left;
    color: white;
}


.form { 
    float: left;
    color: white;
   
    margin-left: 0px;
    padding-left: 0px;
    width: 40%;
    clear: left;
    max-height: 200px;
}


#contactform textarea {
    width: 99%;
}

#contactform .contact_info {

    background-color: rgba(255,255,255,0.7);
    color: black;
    margin-top:20px;
    margin-left:5px;
    overflow:auto;
    padding: 15px;
    left:45%;
    right: 5%;
    position: absolute;
    float: right;
    max-height:200px;
    top:250px;
}



.input_right {
    width: 50%;
    float:right;

}

.alignleft {
    float:left;
}

.alignright {
    float:right;
}




/* ************************************************ */
/* ************************************************ */


            /* RESPONSIVE PART */

/* ************************************************ */
/* ************************************************ */





@media screen and (min-width:768px) and (max-width:1023px) {
    
    header {
        height:50px;
    }
    
    nav {
        left: 33%;
        width:67%;
    }
    
    nav img {
        height:50px;
    }
    

}


@media screen and (min-width:501px) and (max-width:767px) {
    
    
    header {
        height:50px;
    }
    
    nav {
        left: 25%;
        width:75%;
    }
    
    nav img {
        height:40px;
    }
    
    
    #title {
        font-size:0.7em;
        width: 23%;

    }

    
    footer article {
        width: 40%;
        padding: 2%;
    }

    
    #index article{
        width:70%;
    }
    
    
    
    #blog article {
        width: 80%;
        height:auto;
        margin-botttom:5%;
        min-height: 150px;
    }
    
    #portfolio article {
        width: 45%;
        height:300px;
    }
    
    #contactform .contact_info {


        width:85%;
        left:10px;
        right:20px;
        top:60px;
        padding:10px;
 
    }
    
    .form { 

        position:relative;
        width: 95%;
        top:30px;

    }
    
    #contactform>#title2 {
        margin-top:20px;
    }

}

@media screen and (min-width:0px) and (max-width:500px) {
    #title {
            font-size:0.6em;
            margin-top:20px;
    }
    
    nav {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        column-count: 2;
    }
    
    nav img {
        height: 28px;
    }
    
    
    footer article {
        width: 80%;
        padding: 2%;
        margin-bottom:3%;
    }
    
    
    #index article{
        width:90%;
    }
    
    #blog article {
        width: 80%;
        height:auto;
        margin-top:5%;
        margin-botttom:5%;
    }
    

    
    #portfolio article {
        width: 80%;
        height: auto;
        padding-bottom:10px;
    }
    
    #contactform .contact_info {


        width:90%;
        left:5px;
        top:60px;
        padding:5px;


 
    }
    
    #contactform>#title2 {
        margin-top:20px;
    }


    .form { 

        position:relative;
        width: 95%;
        top:50px;

    }
    
    
    .alignleft {
        float:left;
        clear:left;
    }

    .alignright {
        float:left;
        clear:left;
        padding-left:10px;
    }
    
}

#menu {
    position: absolute;
    left: 100px;
    top: 10px;
    z-index: 1;
    border-radius: 40px;
    padding: 40px;
    background-color: hotpink;
    box-shadow: 29px 10px 5px 0px rgba(0,0,0,0.75);
    border-color: black;
    border: 1px solid black;
    
}

#menu .top {
    margin-bottom: -4px;
}

#menu a img{
    width: 80px;
    height: 80px;
    overflow: hidden; 
}

/*
@keyframes wiggle {
    0%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    100%{transform:rotate(3deg);}
}
*/
@keyframes wiggle {
    from {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    to {transform: rotateZ(2deg);}
}

@-webkit-keyframes wiggle {
    from {-webkit-transform: rotateZ(2deg);}
    50% {-webkit-transform: rotateZ(-2deg);}
    to {-webkit-transform: rotateZ(2deg);}
}
#menu a img:hover{
    -webkit-animation: wiggle 0.1s infinite;
}

#more {
    position: absolute;
    top: 20px;
    left: 20px;
    
    width: 60px;
    height: 60px;
    padding: -10px;
    margin:-10px;
    
}

.fade {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
    /*
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
    */
}

.fade:hover {
  opacity: 1;
}


    
